*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.login{
    background-color: black;
    background-image:url(../IMG/Portao_waifu2x_photo_noise3_waifu2x_photo_noise3.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 0px;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;  
}
.area-login{
    width: 90%;
    height: 75%;
    background-color: rgba(217, 226, 218, 0.432);
    backdrop-filter: blur(10px);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 15px;
    animation: aniBox 3s infinite;
}
@keyframes aniBox{
    0%{
        box-shadow: none;
    }
    50%{
        box-shadow: 5px 5px 20px 5px rgba(3, 134, 36, 0.829);
    }
    100%{
        box-shadow: none;
    }
}
.card{
    width: 400px;
    height: 500px;
    background-color: rgba(240, 248, 255);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
}
.title{
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    color: rgb(139, 0, 0);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-bottom: 30px;
}
.form-login{
    width: 90%;
    height: 70%;
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
}
.group{
    position: relative;
}
.form-login .group label{
    font-size: 16px;
    color: rgba(99, 102, 102, 0.308);
    position: absolute;
    top: -10px;
    left: 10px;
    /* background-color: #fff; */
    transition: all 0.3 ease;
}
.form-login .group input{
    padding: 10px;
    border-radius: 5px;
    border: 1px solid rgba(224, 25, 25, 0.829);
    margin-bottom: 20px;
    width: 100%;
    background-color: transparent;
}
.form-login .group input:placeholder-shown+label{
    top: 10px;
    background-color: transparent;
}
.form-login .group input:focus{
    border-color: rgb(139, 0, 0);
}
.form-login .group input:focus+label{
    top: -10px;
    left: 10px;
    background-color: rgba(240, 248, 255 );
    color: rgb(139, 0, 0);
    font-weight: 600;
    font-size: 16px;
    
}
.form-login button{
    width: 60%;
    height: 30px;
    border-radius: 5px;
    border: none;
    background-color: seagreen;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.4 ease;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px auto;
}
.img-login{
    width: 500px;
    height: 500px;
    display: flex;
    border-radius: 10px;
}
.img-login img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
}